.fishList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.tipList {
	display: flex;
	font-size: x-large;
	flex-direction: column ;
}

.locationList {
	display: flex;
	flex-direction: column;
	font-size: x-large;
}